/*	Imports
	------	*/
@import url('fonts.css');
@import url('typography.css');
@import url('structure.css');
@import url('media.css');
@import url('nav.css');
@import url('soundbox.css');
@import url('slideshow.css');
@import url('card-flip.css');

/*Turn on the visual grid view, by deleting the "/*"...
@import url('display-grid.css');
*/


/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://creativecommons.org/licenses/MIT/	*/
	
/*	Resets
	------	*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,nav,section,summary,time,mark,audio,video {     }

img::-moz-selection {    background: transparent }
img::selection {    background: transparent }

article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video {    display: block }
a img {    border: 0 }
body {    overflow-x: hidden }


.dossier-headline-arrow {
    position: relative;
    margin-top: -38px; margin-bottom: -15px; margin-left: 371px;
	z-index: 10
}
.dossier-headline-arrow img {
    width: 30px; height: 30px
}

/* Selection colours (easy to forget) */
::selection {    background: #d3f9f2 }
::-moz-selection {    background: #d3f9f2 }
body {
    margin: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0.1)
}


/*
##########################################################################
##########################################################################
		Default Layout: 952px.
		Content-Element width: 952px.
		Gutters: 24px.
		Outer content margins: 28px.
		Leftover space for scrollbars @1024px: 32px.
##########################################################################
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    
##########################################################################
##########################################################################
*/

body {
    width: 952px;
    padding: 0px;
    background-color: #fff; color: rgb(60,60,60);
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.portrait {    display: none }
.browser-only {    display: block }
.ipad-only,
.iphone-only,
.ios-only {    display: none }


/*
##########################################################################
##########################################################################
		Tablet Layout: 768px.
		Content-Element width: 712px.
		Gutters: 24px.
		Outer content margins: 28px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    
##########################################################################
##########################################################################
*/

@media only screen and (min-width: 768px) and (max-width: 991px) { 
	body {
	    width: 768px;
	    padding-right: 0px; padding-bottom: 0px; padding-left: 0px !important;
	    margin: auto
	}
	
	.dossier-headline-arrow {  margin-left: 279px; }
	
}


/*
##########################################################################
##########################################################################
		iPad Layout Portrait: 768px.
		Content-Element width: 712px.
		Gutters: 24px.
		Outer content margins: 28px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712   
##########################################################################
##########################################################################
 */
 
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) { 
	body {
	    width: 100%;
	    margin: 0px; padding: 0px
	}
	.portrait {    display: block }
	.landscape {    display: none }
	.browser-only {    display: none }
	.ipad-only,
	.ios-only {    display: block }
	
	.overlay {width:768px}
	.contents-index {min-height:1024px !important}
	
	/* add by heberti */
	/*.lesson-period p {margin-left:24px}*/
	/*.days {margin-left:-10px}*/
}


/*
##########################################################################
##########################################################################
		iPad Layout Landscape: 1024px.
		Content-Element width: 896px.
		Gutters: 24px.
		Outer content margins: 64px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    
##########################################################################
##########################################################################
*/

@media only screen and (max-device-width: 1024px) and (orientation:landscape) { 
	body {
	    width: 100%;
	    margin: auto; padding: 0px
	}
	.portrait {    display: none }
	.landscape {    display: block }
	.browser-only {    display: none }
	.ipad-only,
	.ios-only {    display: block }
	.dossier-headline-arrow {  margin-left: 405px; }
	
	.overlay {width:1024px}
	.contents-index {min-height:768px !important}
	.icons-how-to {border-bottom:100px solid white}
}


/*
##########################################################################
##########################################################################
		Mobile Layout: 320px.
		Content-Element width: 292px.
		Gutters: 24px.
		Outer content margins: 14px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3
px      68    160    252    
##########################################################################
##########################################################################
*/

@media only screen and (max-width: 767px) { 
	body {
	    width: 320px;
	    margin: auto; padding: 0px
	}
	.portrait {    display: block }
	.landscape {    display: none }
	.browser-only,
	.ipad-only {    display: none }
	.iphone-only,
	.ios-only {    display: block }
	.dossier-headline-arrow {    margin-left: 145px }
	
	h1.first {
		font-size:2.5em !important;
		/*text-align:left !important;*/
	}
	.img-top {width:300px !important;
		height:157px !important;}
	.licao p {margin:0.6em 0 0.9em 0 !important}	
	p, .verse-text {text-align:left !important}
	.overlay {width:100%}
	.eg-comments .label { width:70% !important}
	.verse-main { 
		width:96% !important;
		/* padding:1em; */
		margin:0 2% !important;
	}
	.verse-text {
		padding:15px !important;
		margin:16px 0 !important;
	}
	.verse-label {
		width:20px !important;
		height:20px !important;
	}
	.float-right {float:right !important}
	.float-left {float:left !important}
	
	/*contents*/
	.menu-index {
		margin:50px auto 50px auto !important;
		width:95% !important;
	}
	.menu-index .count {display:none !important}
	.menu-index li {
		background:none !important;
		border-top:1px solid #ccc;
		padding-top:10px
	}
	
	/*expedient*/
	.expedient {
		margin:30px 0 0 0px !important;
	}
	.abdr {
		width:auto !important;
		height:auto !important;
		margin:0 0 30px 0 !important;
	}
	
	/*toolbar*/
	.right-menu {
		top:35px !important;
		left:0;
		right:54px !important;
		margin-top:30px;
		text-align:center;
	}
	.days {
		line-height:50px !important;
		margin:0 10px !important;
	}
	.days-main {
		/*height:44px !important;*/
	}
	body .days li {
		font-size:1em;
		padding:0 2px;
		display:inline-block;
	}
	
	body .play {
		width:60px;
		background-position:16px center;
	}
	
	/*howto*/
	body .how-to-title {
		margin-top:50px !important;
	}
	body .other-howto div {
		width:auto;
		margin:20px auto 0 auto;
	}
	body .other-howto {
		margin:20px auto 0 auto;
	}
}



/*		
##########################################################################
##########################################################################
		Wide Mobile Layout: 480px.
		Content-Element width: 436px.
		Gutters: 24px.
		Outer content margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
#########################################################################
cols    1     2      3      4      5
px      68    160    252    344    436    
##########################################################################
##########################################################################
*/

@media only screen and (min-width: 480px) and (max-width: 767px) { 
	body {
	    width: 480px;
	    padding: 0px
	}
	.portrait {    display: none }
	.landscape {    display: block }
	.dossier-headline-arrow {    margin-left: 225px }
	
	/*toolbar*/
	body .days li {
		font-size:1.2em;
		padding:0 10px;
		display:inline-block;
	}
	
	body .play {
		width:75px;
		background-position:23px center;
	}
}


/*		
##########################################################################
##########################################################################
	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
######################################################################### 
##########################################################################
*/

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

}







/* Main changes */
html {
	background:#454545;
}
body {position:relative}


.dossier-start h1 {
    clear: both;
    color: #1C1C1C;
    font-family: 'Oswald';
    font-size: 3em;
    line-height: 1.1em;
    margin-bottom: 30px;
    margin-top: 20px;
	text-align:center;
}
.h-info.lesson-main {
	border-bottom: 1px solid #E7E7E7;
	padding:18px 28px 0 28px !important;
	
	/* margin-top:75px; */
}
.h-info {
	overflow:auto;
	padding:25px 2px;
}
.h-info p, .h-info  {color:#777}
.h-info p {	
	/*color:#FFF;*/
	/*font-size:2em;*/
    font-family:'Marion-Regular';
    line-height:1em;
	/*margin-left:52px;*/
}
.img-top video, .img-top object, .img-top img {
	width:100%;
	height:100%;
	transition:all 0.5s linear;
}
.img-top {
	margin:0 auto 2em auto;
	display:block;
	width:667px;
	height:349px;
	position:relative;
}

/* Toolbar */
#toolbar {
	/* position:fixed; */
	z-index:90;
	top:0;
	width:100%;
	height:75px;
	background:#454545;
	position:relative;
	
	/*-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;*/
}
/* #ini {padding-top:75px} */
.play {	
	width:75px;
	height:75px;
	background:rgba(0,0,0,0.5) url(../images/play-top.png) 23px center no-repeat;
	position:absolute;
	right:0;
	top:0;
	z-index:10;
}
.close {background:rgba(0,0,0,0.5) url(../images/close-top.png) center center no-repeat}
/*  @2x new iPad */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
       .play { 
           background-image: url(../images/play-top@2x.png);
           -webkit-background-size: 32px 28px;
       }
       .close {
           background-image: url(../images/close-top@2x.png);
           -webkit-background-size: 34px 34px;       	
       }
}
.days-main {
	color:#717171;
	font-family:'Satisfy';
	position:relative;
}
.right-menu {
	position:absolute;
	top:0;
	right:75px;
	font-size: 0.9em;
}
.days {
	/* margin:0 auto; */
	/* width:400px; */
	margin:0 20px;
	padding:0;
	line-height:83px;
}
.days.right-menu li a {opacity:0.4}
.days.right-menu li {padding: 0 2px}
.days li a {
	color:#FFF;
	opacity:0.6;
	text-decoration:none;
}
.days li {
	font-size:1.2em;
    font-family:'Oswald';
	padding:0 10px;
	display:inline-block;
}

/*responses*/
.response {
	width:100%; height:66px;
	background:url(../images/line.png) repeat 0 -11px;
	color:#1a74ba;
    /* font:1.188em/1.50em 'Satisfy' !important; */
    font:21px/34px 'Satisfy' !important;
	border:none;
	-webkit-appearance:none;
}

/* complete */
.response-complete {
	width:100px;
	border:0;
/* 	border-bottom:1px gray solid; */
	background:url(../images/line.png) repeat 0 -8px;
	
	-webkit-appearance:none;
	color:#1a74ba;
	font:21px/34px 'Satisfy' !important;
}

/* annotations */
.annotations {
	padding:13px 0 0 45px;
	width:90%; height:85px;
	-webkit-appearance:none;
	border:none;
	background:transparent;
	color:#3c8d57;
    font:21px/34px 'Satisfy' !important;
}
.annotation-frame {
	background:url(../images/annotation-line.png);
}
.annotation-main span {
	font:21px/34px 'Satisfy' !important;
	display:inline-block;
	position:absolute;
	top:20px;
	left:47px;
}
.annotation-main {
	width:90%;
	border-top:1px solid white;
	display:block;
	margin:0 auto 30px auto;
	padding:50px 0 0 0;
	background:	url(../images/red-line.jpg) repeat-y 33px 0, url(../images/bg-response.jpg);
	position:relative;
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.4);
}

.video-les {
	width:100% !important; 
	height:200px !important;
	image-fit: fill;
}
.clear {clear:both}
.align-center {text-align:center}
h1.first {font-size:4em}
h1 span {
	font-size:.66em;
}
.hidden {
	display:none;	
}

/*diagramation*/
.licao {padding-top:20px}
.licao li {margin:0 0 0.5em 0}
.licao p {margin:1.3em 0 1.5em 0}

.full-column {float:none}
.separator {
	width:645px;
	height:8px;
	margin:70px auto 60px auto;
	background:url(../images/separator.png);
}
/*  @2x new iPad */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
       .separator {
           background-image: url(../images/separator@2x.png);
           -webkit-background-size: 645px 8px;
       }
}
.footer p {text-align:center}

h1+p>span, textarea+p>span:first-child, div+p+p+p+p > span, .capital-letter {
	font-size:3em;
	line-height:1.1em;
	height:.5em;
	float:left;
}


/* go to top */
/*.top {
	width:100%;
	height:28px;
	display:block;
	position:fixed;
	left:0;
	top:0;
	z-index:2;
	display:none;
}
.top.d-show {display:block}*/

/* comments eg */
.eg-comments div {
	visibility:hidden;
	opacity:0;
	height:0;
	overflow:hidden;
	-webkit-transition:opacity 0.8s ease-in-out;
	-moz-transition:opacity 0.8s ease-in-out;
	transition:opacity 0.8s ease-in-out;
	float:left;
}
.eg-comments .show-comment {
	visibility:visible;
	height:auto;
	overflow:auto;
	float:none;
	/* -webkit-box-shadow:0 1px 7px rgba(0,0,0,0.4); */
	background:#ebebeb url(../images/comments.png) no-repeat center 20px;
	width:100%;
    margin:0 auto;
	padding:50px 0 30px 0;
	opacity:1;
}
/*  @2x new iPad */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
       .eg-comments .show-comment {
           background-image: url(../images/comments@2x.png);
           -webkit-background-size: 278px 30px;     	
       }
}
.show-comment p,
.show-comment h1,
.show-comment h2,
.show-comment h3,
.show-comment ol,
.show-comment ul {
	padding:0 5% 0 5%;
}
.show-comment p {	
	font-size:1.1em;
	line-height:1.5em;
}
.eg-comments .label {
    text-align:center;
    display:block;
	width:50%;
	margin:0 auto;
	padding:9px 0 5px 0;
	/*line-height:30px;*/
	background:#494949;
	border-top: 1px solid white;
	color:white;
	font-family:
}





/* aux typo */
/*.aluno-dev li {margin-left:2em}*/
.aluno-dev, .aluno-dev ol {
	list-style:none;
}
.esboco ol {list-style-type:upper-alpha;}
.esboco {
	list-style-type:upper-roman;
	list-style-position:inside;
	font-weight:bold;
}
.list-style-inside {list-style-position:inside}
.mgs-mis {list-style-position:inside}
.esboco, .aluno-dev, .mgs-mis, .list-style-inside {margin:0}
.esboco li, .aluno-dev li {
	font-size:1.1em;
}
.esboco span {font-weight:normal}

.aux-title span {
	font-weight:normal;
	text-transform:none;
}
.aux-title {
	margin-bottom:0 !important;
	text-transform:uppercase;
	font-weight:bold;
}


.text-box {
	background:#ccc;
	padding:1em !important;
	margin:0 5% !important;
}
.title-box {
	background:#494949;
	padding:5px 10px;
	color:white;
	margin:0 5%;
	display:inline-block;
}



/*
 *	Projects
 *
 *
 */
.projects {
	background:url(../images/bg-projects.jpg);
}
.proj-title {
	color:#a2b389 !important;
	text-transform:uppercase;
}
.proj-list span {
	/* font-family:'Satisfy' !important; */
	font-weight:normal;
}
.proj-list {
	font-size:0.8em;
	font-weight:bold;
	padding-left:28px;
}
/* .map { */
#map-container {
	background:white;
	margin-bottom:40px;
	border-color: #CCCCCC #CCCCCC #999999;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 2px 5px rgba(64, 64, 64, 0.3);
	padding: 6px;
}

/*
 *	Contents
 *
 *
 */
/* .contents-index {height:100%} */
.menu-index {
	margin:150px auto 100px auto;
	width:70%;
}
.menu-index h1 {text-align:center}
.menu-index ol {padding:0}
.menu-index li {
	margin:10px 0;
	position:relative;
	background:url(../images/line-dots.jpg) repeat-x 0 17px;
	list-style:none;
}
.menu-index a {
	border:none;
	/* font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif; */
	background:white;
}
.menu-index .count {
	padding-left:3px;
	position:absolute;
	background:white;
	right:0;
	top:1px;
}

/*
 *	How-to-use
 *
 *
 */
.gif-howto {
	width:100%;
	overflow:hidden;
	background:url(../images/how-to-use.gif) center 0;
	height:333px;
	position:relative;
}
.how-to-image {
	display:block;
	margin:0 auto;
}
body .how-to-title {
	margin-top:100px;
}
.icons-how-to {
	/* margin-bottom:100px; */
	margin-top:80px;
}
.icon-animation {
	border-bottom:1px solid #eee;
}
.animation-text {
	width:180px;
	margin:0 auto;
	font-size:15px;
	text-align:center !important;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	color:#6c6c6c;
	
	position:absolute;
	left:0;
	right:0;
	top:230px;
	z-index:2;
}
.other-howto {
	overflow:hidden;
	width:80%;
	padding:0 5%;
	margin:75px auto 0 auto;
	border-top:1px solid #eee;
}
.other-howto div {
	width:50%;
	height:70px;
	float:left;
	margin:60px 0 0;
	padding-top:20px;
}
.other-howto p {
	font-size:15px;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	color:#6c6c6c;
	margin:0 0 0 85px;
}
.howplay {background:url(../images/how-play.png) 0 18px no-repeat;}
.howresponse {background:url(../images/howresponse.png) 0 27px no-repeat;}
.how2touch {background:url(../images/how2touch.png) 3px 4px no-repeat;}
.how-drag {background:url(../images/how-drag.png) 3px 4px no-repeat;}


/*
 *	Expedient
 *
 *
 */
.expedient img {
	margin:0 0 10px 0;
	width:103px;
	height:54px;
}
.expedient {
	color:black;
	font-size:13pt;
	margin:110px 0 0 70px;
}
.abdr img {
	float:left;
	position:absolute;
	left:0;
	width:72px;
	height:59px;
}
.abdr {
	color:black;
	margin:0 0 0 70px;
	padding:0 0 0 85px;
	display:block;
	width:370px;
	height:60px;
	font-size:11pt;
	position:relative;
}

/*
 *	Overlay
 *
 *
 */

.overlay, .verse-main {-webkit-transition:all 300ms ease-in-out}
.overlay, .verse-main {
	position:absolute;
	display:none;	
}
.overlay {
	background:rgba(0,0,0,.3) url(../images/bg-overlay.png);
	top:0;
	z-index:100;
}
.verse-main {
	width:96%;
	margin:0 2%;
	z-index:105;
	opacity:0;	
}
.verse-text {
	background:white;
	min-height:10px;
	padding:40px;
	margin:16px;
	box-shadow:0 3px 5px #000;
}
.verse-label {
	width:31px;
	height:31px;
/* 	background:url(../images/top-verse.png); */
	background:white;
	position:inherit;
	top:6px;
	-webkit-transform:rotate(45deg);
}
.open-verse {
	z-index:104;
	position:relative;
	color:white !important;
	border-bottom:none !important;
	text-shadow:0 0px 2px #000;
}
.show-effect {
	-webkit-transform: translate3d(0, 24px, 0);
	opacity:1;
}


/*
 *	Highlight
 *
 *
 */
/*.underline, .highlight, .highlight-rosa {padding: 0 2px}
.highlight, .highlight-rosa {background-size: auto 1.6em}

.underline {background:url(../images/underline.svg) 0 repeat-x}
.highlight {background:url(../images/highlight.svg) repeat-x}
.highlight-rosa {background:url(../images/highlight-rosa.svg) repeat-x}

h1 .underline {background-position:0 .8em}
h1 .highlight {background-size: auto 2em}
h1 .highlight-rosa {background-size: auto 2em}*/
.highlight-yellow, .edit-menu-yellow {background:#fcfa47}
.highlight-green, .edit-menu-green {background:#cef973}
.highlight-blue, .edit-menu-blue {background:#90bcff}
.highlight-pink, .edit-menu-pink {background:#ff94c3}
.edit-menu-remove {background:white url(../images/remove-highlight.svg);}
/*  @2x new iPad */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
       .edit-menu-remove {
			background:white url(../images/remove-highlight@2x.svg);
			-webkit-background-size: 26px 26px;
		}
}

/* fix link click on ipad */
a, highlight, .edit-menu span {cursor:pointer}


/*
 *	Highlight Colors Menu
 *
 *
 */
.main-edit-menu, #main-menu-overlay {
	position:absolute;
	display:none;
	-webkit-transition:all 300ms ease-in-out;
}
.main-edit-menu {
    /*display:inline-block;*/
    position:absolute;
    top:900px;
    left:100px;
	height:38px;
    z-index:1;
}
.edit-menu {
    height:36px;
    border:1px solid #333;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.3), 0 2px 4px rgba(0,0,0,.5);
    -webkit-border-radius:8px;
    padding:0 5px 0 5px;
	margin:0;
    
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#797979), color-stop(50%,#424242), color-stop(50%,#2d2d2d), color-stop(100%,#111111));*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c8c8c), color-stop(50%,#545454), color-stop(50%,#3b3b3b), color-stop(100%,#161616)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8c8c8c 0%,#545454 50%,#3b3b3b 50%,#161616 100%); /* Chrome10+,Safari5.1+ */
    position:relative;
    z-index:2;
}
.edit-menu li {
    display:inline-block;
    margin-left:-5px;
	height:37px;
}
.edit-menu span {
    display:inline-block;
    border-radius:26px;
    width:26px;
    height:26px;
    margin:4px 8px 0;
    border:1px solid #333333;
    box-shadow:inset 0 0 3px rgba(0,0,0,.7), 0 1px 0 rgba(255,255,255,.2);   
	
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
.edit-menu .last-r {border-right:1px solid rgba(0,0,0,0.2);}
.edit-menu .last-l {border-left:1px solid rgba(255,255,255,0.2);}


.edit-menu-label {
    width:0px;
    height:0px;
    border-style:solid;
    border-width:11px 10.5px 0 10.5px;
    border-color:#161616 transparent transparent transparent;
    -webkit-transform:rotate(360deg);
    margin-top:-1px;
    position:absolute;
    z-index:3;
    left:90px;
}
.edit-menu-label-fix  {
    position:absolute;
    left:90px;
    
    display:block;
    background:#555;
    width:20px;
    height:20px;
    box-shadow:1px 1px 9px rgba(0,0,0,.6);
    -webkit-transform:rotate(45deg);
    margin:-13.5px 0 0 -.2px;
}